/*=======  Core Feature  =======*/
.features-loop {
	.feature-box {	
		padding: 45px;	
		font-size: 14px;
		background-color: #353530;	
		border: 2px solid #40403b;
		position: relative;
		margin-top: 30px;

		@media #{$lg} {	
			padding: 45px 30px;
		}
		@media #{$md} {	
			padding: 45px;
		}
		@media #{$lsm} {
			padding: 35px 25px;
		}
		@media #{$xsm} {	
			padding: 45px 30px;
		}

		.icon {
			margin-bottom: 30px;
			font-size: 70px;
			color: $primary-color;
			line-height: 1;
		}

		&:hover {
			.icon i {
				-webkit-animation: hvr-buzz-out 0.75s linear 1;
				animation: hvr-buzz-out 0.75s linear 1;
			}
		}
		h3 {
			font-size: 30px;
			margin-bottom: 30px;
			letter-spacing: -1px;
			@media #{$lsm} {
				font-size: 24px;
			}
		}
		.count {
			line-height: 1;
			position: absolute;
			right: 0;
			top: -10px;
			font-size: 120px;	
			color: #3d3c38;
		}

		&.with-hover-img {
			.hover-img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center;
				@include transition(0.3s);

				visibility: visible;
				opacity: 1;
			}
			&:hover {
				.hover-img {
					opacity: 0;
					visibility: hidden;
				}
			}
		}

		/*=======  Dark Style  =======*/
		&.dark-box {
			background-color: #292929;
			border: none;	
			overflow: hidden;

			&,
			h3 a {
				color: $white;
			}

			.icon {
				font-size: 100px;
				color: #fcd462;
				position: absolute;
				right: -10px;
				top: -10px;
				opacity: 0.2;
				line-height: 1;
				margin-bottom: 0;
			}

			.count {
				font-size: 120px;
				position: static;
				color: #353530;
				margin-bottom: 15px;
				font-family: "Prata", serif;
			}
		}
	}
}
