# pp-api environment variables

API_MONGODB_CONNECTION_STRING=

# pp-db container environment variables

DB_MONGO_INITDB_ROOT_USERNAME=
DB_MONGO_INITDB_ROOT_PASSWORD=
DB_MONGO_INITDB_DATABASE=preciousPricer

# pp-react container environment variables

REACT_PORT=3000
REACT_BROWSER=none