# bp-api environment variables

API_MONGODB_CONNECTION_STRING=

# bp-db container environment variables

DB_MONGO_INITDB_ROOT_USERNAME=
DB_MONGO_INITDB_ROOT_PASSWORD=
DB_MONGO_INITDB_DATABASE=bullionPricer

# bp-react container environment variables

REACT_PORT=3000
REACT_BROWSER=none