## bp-api environment variables

API_MONGODB_CONNECTION_STRING=mongodb://root:<FILL_IN_MONGO_PASSWORD>@bp-db/bullionPricer?readPreference=primary&ssl=false&authSource=admin
API_HCAPTCHA_SECRET_KEY=
API_POSTMARK_SERVER_TOKEN=

## bp-db container environment variables

DB_MONGO_INITDB_ROOT_USERNAME=root
DB_MONGO_INITDB_ROOT_PASSWORD=
DB_MONGO_INITDB_DATABASE=bullionPricer

## bp-react container environment variables

REACT_PORT=3000
REACT_BROWSER=none
REACT_HCAPTCHA_SITE_KEY=

## bp-certbot container environment variable

CERTBOT_DNS_CLOUDFLARE_API_TOKEN=

## bp-cron container environment variables

# https://currencybeacon.com/ Currency conversion. Quota of 5,000 api calls PER month. Currency prices are updated hourly.

CRON_CURRENCY_BEACON_API_TOKEN=

# https://scrapeops.io/ Used for generating fake user-agents. Quota of 1,000 per month.

CRON_SCRAPEOPS_API_KEY=

CRON_DO_SCRAPING=1