/*=======  FOOTER  =======*/
footer {
	.footer-subscibe-area {	
		background-color: #353530;	

		.subscribe-text {
			.subscribe-form {
				position: relative;
				input {
					width: 100%;
					border: none;
					height: 90px;
					background-color: $main-bg;
					padding-left: 50px;
					padding-right: 230px;	
					font-size: 14px;
					color: #aeaeae;
					@media #{$lsm} {
						padding-left: 20px;
						padding-right: 200px;
					}
					@media #{$xsm} {
						padding-left: 20px;
						padding-right: 20px;
						height: 70px;
					}
				}
				button {
					position: absolute;
					right: 15px;
					bottom: 15px;
					top: 15px;
					background-color: $primary-color;
					color: $white;
					font-size: 14px;
					font-weight: 700;
					text-transform: uppercase;
					border: none;
					width: 200px;
					letter-spacing: 3px;
					@include transition(0.3s);
					@media #{$lsm} {
						width: 180px;
					}

					&:hover {
						background-color: $white;	
						color: #1c1b19;
					}
				}
			}
		}

		&, &.style-2 {
			.subscribe-text .subscribe-form button {
				@media #{$xsm} {
					position: unset;
					width: 100%;
					height: 60px;
				}
			}
		}
	}
	/*=======  Widgets  =======*/
	.footer-widget-area {
		position: relative;
		z-index: 1;
		.widget {
			&,
			a,
			.widget-title,
			h6 {
				color: $white;
			}

			h4.widget-title {
				font-size: 24px;
				margin-bottom: 4px;
				margin-bottom: 40px;
			}

			&.site-info-widget {
				color: #bababa;
				@media #{$lg} {
					font-size: 14px;
				}
				@media #{$lsm} {
					font-size: 14px;
				}
				.social-links {
					text-align: left;
					a {
						height: 40px;
						width: 40px;
						line-height: 40px;
						text-align: center;
						color: $white;
						background-color: #2e2e2e;
						margin-right: 5px;
						@media #{$lg} {
							height: 35px;
							width: 35px;
							line-height: 35px;
							font-size: 14px;
							margin-right: 2px;
						}
						@media #{$lsm} {
							height: 35px;
							width: 35px;
							line-height: 35px;
							font-size: 14px;
							margin-right: 2px;
						}
						&:hover {
							background-color: $primary-color;
						}
					}
				}
			}
			&.nav-widget {
				padding-left: 70px;
				@media #{$md} {
					padding-left: 0;
				}
				@media #{$sm} {
					padding-left: 0;
				}
				ul li {
					margin-bottom: 35px;
					width: 50%;
					float: left;
					@media #{$tiny} {
						margin-bottom: 20px;
						width: 100%;
					}
					a {
						font-family: $roboto;
						position: relative;	
						display: flex;	
						align-items: center;
						&:hover {	
							padding-left: 10px;
							color: $primary-color;
						}
						&::before {	
							content: '\f108';	
							font-family: flaticon;	
							font-size: 20px;	
							line-height: 1;	
							margin-right: 10px;
						}
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
			&.contact-widget {
				@media #{$md} {
					padding-left: 70px;
				}
				@media #{$lsm} {
					padding-left: 20px;
				}
				.contact-lists {
					.contact-box {
						margin-bottom: 30px;
						padding-bottom: 30px;
						border-bottom: 1px solid #2e2e2e;	
						display: -ms-grid;
						display: grid;	
						-ms-grid-columns: 40px 1fr;
						grid-template-columns: 40px 1fr;	
						-ms-grid-rows: 1fr;
						grid-template-rows: 1fr;
						grid-column-gap: 20px;
						font-size: 14px;
						@media #{$lg} {
							grid-column-gap: 15px;
						}
						&:last-child {
							margin-bottom: 0;
							padding-bottom: 0;
							border: none;
						}
						h6 {
							font-size: 20px;
							margin-bottom: 10px;
						}
						.icon {
							font-size: 40px;
							color: $primary-color;
						}
					}
				}
			}
		}
		&.light-theme {
			background-image: url(../img/icon/pattern-02.png);
			&::after {
				display: none;
			}
			.widget {
				&,
				a {	
					color: #a3a3a3;
				}
				.widget-title,
				h6 {	
					color: #353530;
				}
				&.site-info-widget {
					.social-links {
						a {
							background-color: $main-bg;	
							color: #a3a3a3;
							&:hover {
								background-color: $primary-color;
							}
						}
					}
				}
				&.contact-widget {
					.contact-box {
						border-color: #e1e1e1;
					}
				}
			}
		}
	}
	/*=======  Copy Right  =======*/
	.copyright-area {
		color: $white;
		.social-links {
			text-align: right;
			@media #{$sm} {
				text-align: center;
				margin-bottom: 10px;
			}
			a {
				height: 60px;
				width: 60px;
				line-height: 60px;
				text-align: center;
				color: $white;
				background-color: #212121;
				margin-left: 10px;
				@media #{$md} {
					margin-left: 5px;
					width: 50px;
					height: 50px;
					line-height: 50px;
				}
				@media #{$sm} {
					margin: 0 5px;
					width: 50px;
					height: 50px;
					line-height: 50px;
				}
				@media #{$xsm} {
					margin: 0 2px;
					width: 40px;
					height: 40px;
					line-height: 40px;
					font-size: 12px;
				}
				&:hover {
					background-color: $primary-color;
				}
			}
		}
		.copyright-text {
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 3px;
			text-transform: uppercase;
			@media #{$xsm} {
				letter-spacing: 0;
			}
			a {
				color: $white;
				text-decoration: underline;
			}
			&.copyright-two {
				text-transform: none;
				font-family: $roboto;
				font-weight: 700;
				letter-spacing: 0;
			}
			@media #{$sm} {
				margin-top: 10px;
				text-align: center;
			}
		}
		.footer-menu {
			ul li {
				display: inline-block;
				position: relative;
				padding-left: 15px;
				margin-right: 15px;
				@media #{$tiny} {
					padding-left: 0;
					margin-right: 0;
				}
				&::before {
					position: absolute;
					left: 0;
					top: 50%;	
					-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
					width: 3px;
					height: 12px;	
					background-color: #353530;	
					content: '';
					@media #{$tiny} {
						display: none;
					}
				}

				&:first-child {
					padding-left: 0;
					margin-left: 0;
					&::before {
						display: none;
					}
				}

				a {
					color: $white;
					font-weight: 700;
					font-family: $roboto;
					&:hover {
						color: $primary-color;
					}
				}
			}
		}
		&.light-theme {
			background-color: $main-bg;
			&,
			a,
			.copyright-text,
			.footer-menu ul li a {
				color: $heading-color;
			}
			.footer-menu ul li {
				&::before {
					background-color: #737373;
				}
			}
		}
	}
}

footer .footer-widget-area::after, .sigma-footer::after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/icon/pattern-01.png);
	content: '';
	background-size: cover;
	background-repeat: repeat;
	background-position: center;
	z-index: -1;
}

	
@media(min-width: 1600px) {
	.sigma-footer .container-fluid {
	padding-left: 65px;
	padding-right: 65px;
	}
}

/*=======  Sigma Footer  =======*/

.sigma-footer {
  position: relative;
  z-index: 1;

  .sigma-footer-top .sigma-backto-top {
    width: 100%;
    padding: 40px;

    .back-to-top {
      position: relative;
      opacity: 1;
      visibility: visible;
      width: auto;
      background: transparent;
      height: auto;
      line-height: initial;
      top: 0;
      bottom: 0;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      right: 0;

      &:hover i {
        color: #fff;
      }

      i {
        margin-right: 10px;
        height: 40px;
        width: 40px;
        line-height: 40px;
        background-color: #fcd462;
      }
    }
  }

  .contact-maps {
    height: 100%;
  }

  .sigma-footer-box {
    background-color: #353530;
    padding: 40px;
    padding-bottom: 25px;

    .sigma-footer-box-top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .ft-logo {
        display: flex;
        margin-bottom: 40px;
      }

      .ft-social-media {
        display: flex;
        margin-bottom: 40px;

        > li {
          margin-left: 10px;

          > a {
            height: 40px;
            width: 40px;
            line-height: 40px;
            text-align: center;
            color: #fff;
            background-color: #2e2e2e;
            margin-right: 5px;
          }

          &:hover > a {
            background-color: #fcd462;
          }
        }
      }
    }
  }

  .sigma-copyright-inner a:hover, .sigma-footer-contact ul > li:hover > a {
    color: #fcd462;
  }

  .sigma-footer-nav .ft-nav {
    display: flex;

    > .menu-item {
      margin-bottom: 15px;
      margin-right: 25px;

      > a {
        color: #fff;
        font-family: "Roboto", sans-serif;
        position: relative;
        display: flex;
        align-items: center;
      }
    }
  }

  .nice-select .list {
    background-color: #1c1b19;
  }

  .sigma-footer-nav .ft-nav > .menu-item {
    > a:before {
      content: '\f108';
      font-family: flaticon;
      font-size: 16px;
      line-height: 1;
      margin-right: 10px;
    }

    &:hover > a {
      padding-left: 10px;
      color: #fcd462;
    }
  }

  .sigma-footer-bottom .sigma-footer-bottom-inner {
    background-color: #353530;
    padding: 40px;
    padding-bottom: 25px;
  }

  .sigma-footer-contact {
    ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      > li {
        margin-bottom: 15px;
        margin-right: 40px;
        display: flex;
        align-items: center;

        > {
          a {
            color: #fff;
          }

          i {
            color: #fcd462;
            text-align: center;
            vertical-align: middle;
            font-size: 40px;
            line-height: normal;
            margin-right: 15px;
          }

          a span {
            font-size: 20px;
            margin-bottom: 0px;
            font-family: "Prata", serif;
            font-weight: 400;
            display: flex;
          }
        }
      }
    }

    &.style-2 ul {
      > li {
        > {
          a span {
            margin-right: 0;
            flex-direction: row-reverse;
          }

          i {
            margin-right: 0;
            margin-left: 15px;
          }
        }

        margin-right: 0;
        flex-direction: row-reverse;
      }

      margin-right: 0;
      flex-direction: row-reverse;
    }
  }

  .sigma-footer-search {
    margin-bottom: 15px;

    .form-control {
      height: 50px;
      background: transparent;
      border-radius: 0;
      border: none;
      border-bottom: 2px solid #40403b;
      padding-left: 50px;
      color: #fff;

      &:focus {
        box-shadow: none;
        border-bottom-color: #fff;
      }

      &::placeholder {
        color: #fff;
      }
    }

    .input-group-prepend {
      position: absolute;
      height: 50px;
      width: 50px;
      left: 0;
      z-index: 1;

      > button {
        width: 100%;
        border: none;
        background: transparent;
        color: #a3a3a3;
        position: relative;
      }
    }
  }

  .sigma-copyright-inner {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #353530;

    p {
      margin-bottom: 40px;
      text-transform: none;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      letter-spacing: 0;
      font-size: 14px;
    }

    a {
      color: #fff;
      text-decoration: underline;
      margin-left: 4px;
    }

    .sigma-copyright-menu > ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: wrap;

      > li {
        margin-left: 15px;
        padding-left: 15px;
        margin-bottom: 40px;

        > a {
          text-decoration: none;
          font-weight: 700;
          font-family: "Roboto", sans-serif;
          margin-left: 0;
        }

        &:after {
          content: '';
          width: 3px;
          height: 12px;
          background: #40403b;
          position: absolute;
          top: 8px;
          margin-left: 15px;
        }

        &:last-child:after {
          display: none;
        }

        &:first-child {
          padding-left: 0;
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .sigma-footer .sigma-footer-contact ul > li {
    margin-right: 10px;

    > a {
      font-size: 14px;
    }
  }
}

@media (max-width: 991px) {
  .sigma-footer {
    .contact-maps {
      height: 350px;
    }

    .sigma-footer-contact {
      ul {
        justify-content: center;
        text-align: center;
      }

      &.style-2 ul {
        > li {
          > {
            a span {
              margin-right: 0;
              flex-direction: unset;
            }

            i {
              margin-right: 15px;
              margin-left: 0;
            }
          }

          margin-right: 0;
          flex-direction: unset;
        }

        margin-right: 0;
        flex-direction: unset;
      }
    }
  }
}

@media (max-width: 767px) {
  .sigma-footer {
    .sigma-footer-nav .ft-nav {
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    .sigma-copyright-inner .sigma-copyright-menu > ul, .sigma-footer-contact ul {
      justify-content: flex-start;
      text-align: left;
    }
  }
}

@media (max-width: 576px) {
  .sigma-footer {
    .sigma-copyright-inner, .sigma-footer-top .sigma-backto-top {
      padding: 20px;
    }

    .sigma-footer-bottom .sigma-footer-bottom-inner, .sigma-footer-box {
      padding: 20px;
      padding-bottom: 5px;
    }

    .sigma-copyright-inner {
      .sigma-copyright-menu > ul > li, p {
        margin-bottom: 20px;
      }
    }

    .sigma-footer-box .sigma-footer-box-top {
      .ft-logo, .ft-social-media {
        margin-bottom: 20px;
      }
    }
  }
}

/*=======  Back to top  =======*/
.back-to-top {
	position: fixed;
	right: 0;
	bottom: 40px;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	background-color: $primary-color;
	z-index: 99;
	color: $white;
	font-size: 18px;
	opacity: 0;
	visibility: hidden;
	&.active {
		visibility: visible;
		opacity: 1;
		right: 40px;
	}
	&:hover {
		background-color: $heading-color;
	}
}

.alert.d-block{	
	display: block!important;	
}