
/*------  categories-box-layout -----*/

.categories-box-layout {
  margin-top: -40px;
  position: relative;
  z-index: 2;

  .categories-box-layout-inner {
    background-color: #353530;
    padding: 40px;
    padding-bottom: 10px;
  }

  .categories-box {
    margin-bottom: 30px;
    border: 2px solid #40403b;
    padding: 20px;
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;

    .icon {
      height: 50px;
      width: 50px;
      background: #fcd462;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #1c1b19;

      > i {
        font-size: 20px;
      }
    }

    .title {
      margin-bottom: 15px;
      font-size: 22px;
      font-weight: 500;
    }

    .overlay-icon {
      visibility: hidden;
      opacity: 0;
      color: #fff;
      font-size: 100px;
      position: absolute;
      bottom: -20px;
      right: -20px;
      z-index: -1;
      display: flex;
      transition: .3s;
    }

    p {
      color: #a3a3a3;
    }

    &:hover {
      background-color: #1c1b19;
      border-color: #1c1b19;

      .title, p {
        color: #fff;
      }

      .overlay-icon {
        visibility: visible;
        bottom: 0;
        right: 0;
        opacity: 0.2;
      }
    }
  }

  &.overlapped {
    margin-bottom: -115px;
    margin-top: -70px;
  }

  &.dark-layout {
    background-color: #353530;
    margin-top: 0;
  }
}

@media (max-width: 400px) {
  .categories-box-layout .categories-box-layout-inner {
    padding: 30px;
    padding-bottom: 0;
  }
}

/*------  Category Box -----*/

.category-box-sec {
  &.bg-black {
    background-color: #1c1b19;
  }

  .category-box-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s all;

    .category-box-image, .category-box-content {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .category-box-image > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .category-box-content {
      display: flex;
      align-items: center;
      justify-content: center;

      .title {
        margin-bottom: 30px;
      }
    }

    &:hover {
      background-color: #fcd462;

      .main-btn {
        background-color: #1c1b19;
        border-color: #1c1b19;
      }
    }
  }
}

/*------  BOOKING FORM STYLE 2 -----*/

.book-room-style2 {
  position: relative;
  background-color: #353530;
  z-index: 1;

  &:before {
    content: '\f127';
    font-family: 'Flaticon';
    left: 0;
    bottom: 0;
    line-height: 1;
    color: #e3e3e3;
    font-size: 200px;
    position: absolute;
    opacity: .1;
  }

  &:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background-color: #fcd462;
    z-index: -1;
  }

  .book-room-content, .calender-box {
    padding: 56px 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .book-room-content {
    .action a {
      margin-right: 20px;
    }

    .big-title a {
      font-size: 28px;
    }

    a {
      margin-top: 15px;
      font-size: 18px;

      i {
        margin-right: 8px;
      }
    }
  }

  .calender-box ul li {
    max-width: 300px;
    float: left;
    width: 25%;
    padding-right: 3px;
    margin: 0 0 22px;

    &.small-width {
      width: 21%;
    }

    label {
      display: inline-block;
      font-weight: 500;
      color: #fff;
      letter-spacing: 1px;
      margin-bottom: 12px;
    }

    .calender-input-box {
      position: relative;
      width: 100%;
      background-color: #353530;
    }
  }
}

.calender-box ul li .calender-input-box .calender-input-inner {
  padding: 30px 15px 10px;
  position: relative;
  width: 100%;

  span {
    position: absolute;
    top: 10px;
    font-weight: 600;
    text-transform: uppercase;
    color: #c6c6c6;
    padding-right: 14px;
  }

  h3 {
    display: inline-block;
    font-size: 60px;
    font-weight: 600;
    vertical-align: top;
  }

  .next-day, .prev-day {
    font-size: 15px;
    color: #8a8a8a;
    border: 1px solid #8a8a8a;
    border-radius: 50%;
    text-align: center;
    width: 24px;
    height: 24px;
  }

  .next-day:hover {
    background-color: #fcd462;
    color: #fff;
  }

  .prev-day {
    &:hover {
      background-color: #fcd462;
      color: #fff;
    }

    margin-top: 10px;
  }

  .calendar-controls {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    z-index: 5;
    right: 10px;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 575px) and (max-width: 768px) {
  .calender-box ul li .calender-input-box .calender-input-inner h3 {
    font-size: 40px;
  }

  .book-room-style2 .calender-box ul li label {
    font-size: 12px;
  }
}

.book-room-style2 .calender-box ul li .calender-input-box .capacity {
  display: inline-block;
  font-size: 74.38px;
  font-weight: 600;
  vertical-align: top;
  margin-top: -3px;
  height: 75px;
  margin-bottom: 4px;
  border: none;
  padding: 0;
  line-height: 100%;
  color: #3d3935;
}

.calender-box .reserve-block {
  span {
    margin-right: 78px;
    color: #fff;
  }

  a {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 0;
      transition: .6s;
      height: 1px;
      opacity: 0;
      visibility: hidden;
      background-color: #353530;
    }

    &:hover::before {
      width: 100%;
      opacity: 1;
      visibility: visible;
    }

    i {
      animation: 1s linear 0s normal none infinite back-forth;
      margin-right: 10px;
      font-size: 20px;
    }
  }
}

@media (max-width: 1199px) {
  .book-room-style2 {
    &:after {
      position: absolute;
      content: "";
      right: 0;
      top: auto;
      width: 100%;
      height: 369px;
      background-color: #fcd462;
      z-index: -1;
      bottom: 0;
    }

    &:before {
      content: none;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .book-room-style2:after {
    height: 280px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .book-room-style2:after {
    height: 255px;
  }
}

@media (max-width: 576px) {
  .book-room-style2 {
    &:after {
      content: none;
    }

    .mobile-none {
      background-color: #fcd462;
    }

    .book-room-content {
      padding-left: 0;
      padding-right: 0;
    }

    .calender-box {
      padding-left: 0;
      padding-right: 0;

      ul li {
        width: 50%;

        &.small-width {
          width: 50%;
        }
      }
    }
  }
}