/*=======  COUNTER CSS  =======*/
.counter-section {
	.counter-box {

		margin-bottom: 50px;
		@media #{$xsm} {
			font-size: 12px;
		}
		.icon {
			margin-bottom: 30px;
			img {
				max-width: 100px;
			}

			i {
				font-size: 70px;	
				font-weight: 400;	
				line-height: 1;	
				color: #fcd462;
			}
		}
		&,
		h4 {
			color: $white;
			font-weight: 700;
			font-family: $roboto;
		}
		h4 {
			font-size: 60px;
			word-spacing: 0;
			.plus-icon {
				font-size: 16px;
			}
			@media #{$xsm} {
				font-size: 38px;
			}
		}
		.title {
			color: #999999;
		}

		&.box-layout {
			@media #{$lg} {
				font-size: 12px;
			}
		}

		&.counter-box-two {	
			background-color: #353530;
			padding: 30px 40px 30px 120px;
			position: relative;
			margin-bottom: 30px;
			font-weight: 400;	
			color: #a3a3a3;

			@media #{$lg} {
				padding: 30px 20px 30px 115px;
			}

			@media #{$sm} {
				padding: 30px 25px;
			}

			
			h4 {
			    margin-top: calc((14px * 1.6) / 2);
				color: $heading-color;
				letter-spacing: -1px;
				font-family: $prata;
			}

			.icon {
				position: absolute;
				top: 40px;
				left: 40px;
				font-size: 60px;
				color: $primary-color;
				margin: 0;
				line-height: 1;
				@media #{$lg} {
					left: 30px;
				}

				@media (max-width: 991px) {
					position: unset;
				}
			}

		}

		@media (max-width: 991px) {
			text-align: center;
		}
	}
}
