/*=======  Our Menu  =======*/
.menu-area {
	position: relative;
	z-index: 1;

	&.menu-with-shape {
		.shape-one {
			position: absolute;
			left: 2%;
			top: -70px;
			max-width: 250px;
			z-index: 2;
			@media #{$lg} {
				max-width: 180px;
			}
			@media #{$md} {
				max-width: 180px;
			}
			@media #{$sm} {
				display: none;
			}
		}
		.shape-two {
			position: absolute;
			right: 3%;
			bottom: 160px;
			z-index: -1;
			max-width: 250px;
			@media #{$md} {
				max-width: 180px;
			}
		}
	}

	.menu-loop {
		.single-menu-box {
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			margin-bottom: 20px;
			padding-left: 120px;
			position: relative;
			@media #{$xsm} {
				padding-left: 0;
				padding-top: 140px;
			}
			.menu-desc {
				position: relative;
				@include transition(0.3s);
				font-size: 14px;
				color: $heading-color;
				padding: 20px 85px 20px 30px;
				@media #{$lg} {
					padding: 20px 50px 20px 30px;
				}
				@media #{$tiny} {
					padding: 20px 50px 20px 30px;
				}
				h4 {
					font-size: 24px;
					letter-spacing: -1px;
					margin-bottom: 8px;
				}
				.menu-link {
					position: absolute;
					right: 20px;
					top: 50%;	
					-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
					font-size: 24px;
					color: $primary-color;
					z-index: 2;
					@include transition(0.3s);
					visibility: hidden;
					opacity: 0;
				}
			}
			.menu-img {
				position: absolute;
				left: 0;
				top: 0;
				width: 120px;
				height: 100%;
				background-size: cover;
				background-position: center;
				@media #{$xsm} {
					height: 120px;
					left: 30px;
				}
			}
			&:hover .menu-desc {	
				background-color: #353530;
				.menu-link {
					right: 40px;
					visibility: visible;
					opacity: 1;
					@media #{$lg} {
						right: 15px;
					}
					@media #{$tiny} {
						right: 15px;
					}
				}
			}
			&.hover-drak:hover .menu-desc {
				background-color: $heading-color;
				&,
				h4 a {
					color: $white;
				}
			}
		}
	}
}
